body {
  background-image: url("/bground.png");
}

.list,
.detail {
  border: grey solid 1px;
  min-height: 250px;
  min-width: 2250px;
  background-color: ghostwhite;
  padding: 0.5em;
  margin: 0.5em;
}

.card {
  display: flexbox;
  padding: 0.25em;
  margin: 0.25em;
  border: grey solid 1px;
  min-height: 250px;
  min-width: 400px;
  background-color: ghostwhite;
}

.detail ul,
.card ul {
  color: #888;
  list-style-type: none;
}

.card img {
  border: grey solid 2px;
  height: 25%;
  width: 25%;
  position: relative;
  float: right;
  top: -125px;
}

.card a {
  position: relative;
  float: right;
  right: -175px;
}

.detail ul li,
.card ul li {
  color: black;
}

.card ul li p {
  width: 50%;
  font-weight: bold;
}

.comment-text,
.article-text {
  width: 95%;
  resize: none;
}

.article-text {
  min-height: 500px;
}

.comment-text {
  min-height: 150px;
  min-width: 1000px;
  margin: 5px;
}

.navigation {
  text-align: center;
}

h2,
.navigation a {
  padding: 10px;
}
